<!DOCTYPE html>
<html lang="en">

<!-- Title -->
<title>Ana Sayfa</title>
<% include ../partials/head %>
</head>

<body>
<% include ../partials/header %>
<!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/41.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Travel</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Feature</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Archive by Category “TRAVEL”</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Archive Post Area Start ##### -->
    <div class="archive-post-area">
        <div class="container">
            <div class="row justify-content-center">
                    <div class="archive-posts-area bg-white p-60 mb-60 box-shadow">

                        <!--Table-->
<table class="table table-hover">

  <!--Table head-->
  <thead>
    <tr>
      <th></th>
      <th>Yazı Başlığı</th>
      <th>Yazı Türü</th>
      <th>Kullanıcı</th>
      <th>Doğrulanma</th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
        <% foundPosts.forEach( (post, i=1)=>{ %>
    <tr>
      <th scope="row"><%= (currentPage*50 - 49) + i++ %></th>    
      <td><a href="/articles/<%=post._id%>" class="post-title"><%= post.title %></a></td>
      <td><%= post.type %></td>
      <td><a class="thumbnail-user-name" href="/<%= post.user.username %>/sayfa=1"><%= post.user.username %></td>
        <% if (post.validation.isValidation == 0) { %>
      <td><i class="fa fa-hourglass-half"></i></td>
        <% } %>
            <% if (post.validation.isValidation == 1) { %>
                <td><i class="fa fa-check"></i></td>
                <% } %>
              <% if (post.validation.isValidation == 2) { %>
                <td><i class="fa fa-times-circle"></i></td>
                  <% } %>
        <td>
        <div id="detail-<%= post._id%>" class="visibility-true">
      <p>Tıklanma sayısı: <%= post.rating.visitRating %></p>
      <p>Fav Sayısı: <%= post.rating.favRating %></p>
      <p>Total Rating: <%= post.ratingsTotal %></p>
      <p>Gönderilme zamanı: <%= post.applicationDate %></p>
        </td>
        </div>
        <td><button type="button" id="detailOpenButton-<%= post._id%>" name="<%=post._id%>" onClick="detailOpen(this.name)" class="btn btn-outline-info">Detay</button>
            <button type="button" id="detailCloseButton-<%= post._id%>" name="<%=post._id%>" onClick="detailClose(this.name)" class="btn btn-outline-danger visibility-true">Kapat</button></td>
        <td><a href="/articles/<%=post._id%>" class="btn btn-outline-warning">Yazı</a></td>
    </tr>   
        <% }); %> 
  </tbody>
  <!--Table body-->

</table>
<!--Table-->

<!-- Pagination -->
<% if (pages > 1) { %>
    <ul class="pagination">
        <% if (currentPage > 1) { %>
            <li class="page-item"><a class="page-link" href="/admin-posts/sayfa=1"><i class="ti-angle-left"></i></a></li>
        <% } %>
        <% var i = 1;
        if (currentPage > 5) {
            i = +currentPage - 4;
        } %>
        <% if (i !== 1) { %>
            <li class="page-item"><a class="page-link" href="/admin-posts/sayfa=<%= +currentPage -4 %>">...</a></li>
        <% } %>
        <% for (i; i<=pages; i++) { %>
            <% if (currentPage == i) { %>
                <li class="page-item active"><a class="page-link" href="/admin-posts/sayfa=<%= i %>"><%= i %></a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/admin-posts/sayfa=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == (+currentPage + 4)) { %>
                <li class="page-item"><a class="page-link" href="/admin-posts/sayfa=<%= +currentPage + 4 %>">...</a></li>
            <% break; } %>
        <% } %>
        <% if (currentPage != pages) { %>
            <li class="page-item"><a class="page-link" href="/admin-posts/sayfa=<%= pages %>"><i class="ti-angle-right"></i></a></li>
        <% } %>
    </ul>
<% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Archive Post Area End ##### -->

    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>

</html>